/* Full-page container */
.uploadpage {
  width: 100%;
  height: 100vh; /* full viewport height */
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  background-color: #f0f0f0 ; /* light gray background */
  font-family: Arial, sans-serif;
  flex-direction: column;
  gap: 20px;
}

/* Heading */
.uploadpage h1 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 50px;
  color: #111;
  text-shadow: #655f5f 2px 2px 4px;
}

.uploadpage h2 {
  text-align: center;
  font-size: 28px;
  color: #333;
}

/* File input */
.uploadpage input[type="file"] {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Upload button */
.uploadpage button {
  padding: 12px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.uploadpage button:hover {
  background-color: #555;
}
